.wt-calendar-wrapper {
    border-top: 4px solid #00796b;
    padding: 20px;
    box-shadow: 0 2px 8px 2px rgba(0,0,0,.2);
}

#calendar {
    font-family: 'Roboto', sans-serif;
}

#calendar .fc-header-toolbar .btn-primary {
    background-color: #00796b;
    border-color: #00796b;
}

#calendar .fc-header-toolbar .btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem  rgba(0, 128, 128, 0.5) !important;
}