.wT-login-logo {
    width: auto;
    margin-top: 25%;
}

.wT-login-form {
    margin-top: 30px;
    height: 40vh;
}

.wT-login-form-container {
    padding: 0 calc(5vw);
}

.wT-login-form-links {
    padding: 10px 0;
}

.wT-login-form-links a {
    color: #20a9bb;
    text-decoration: underline;
    font-weight: 700;
    font-size: 13px;
}

.wT-login-form-button {
    padding: 10px 0;
}

.wT-login-form-button button {
    background-color: #00796b;
    width: 100px;
}