.wT-login-area {
    margin: 0;
}

.wT-login-side-banner {
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(45deg, rgba(0, 128, 128, 0.1), rgba(0, 128, 128, 0.4), rgba(0, 128, 128, 0.5), rgba(0, 128, 128, 0.6));
}

.wT-login-container {
    height: 100vh;
}

.wT-login-logo {
    width: auto;
    margin-top: 25%;
}

.wT-login-logo img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.wT-login-form {
    margin-top: 30px;
    height: 40vh;
}

.wT-login-form-container {
    padding: 0 calc(5vw);
}

.wT-login-form-links {
    padding: 10px 0;
}

.wT-login-form-links a {
    color: #26c6da;
    text-decoration: underline;
    font-weight: 700;
    font-size: 13px;
}

.wT-login-form-button {
    padding: 10px 0;
}

.wT-login-form-button button {
    width: 100px;
}

.wT-login-footer {
    position: absolute;
    bottom: 15px;
    left: 100vw;
    margin-left: -11px !important;
    color: #757575;
    font-size: 12px;
    font-weight: 600;
}