.wT-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #e0e0e0;
}

.wT-container {
    background-color: white;
}

.wT-main-header {
    height: auto;
    display: flex;
    align-items: center;
}

.wT-main-logo {
    width: auto;
    margin: 20px 0;
}

.wT-main-title {
    color: #424242;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.wT-main-menu-container {
    margin-bottom: 30px;
    padding: 0 30px !important;
}

nav.wT-main-menu-nav {
    box-shadow: none;
    border: 1px solid #757575;
    background-color: white;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
}

nav.wT-main-menu-nav i {
    height: 50px;
    line-height: 50px;
}

.wT-main-menu-nav-item {
    height: 46px;
    padding: 0 !important;
    margin-top: 1px;
}

.wT-main-menu-nav-item a:hover {
    background-color: transparent ;
}

.wT-main-menu-nav-item a {
    color: #757575 !important;
    height: 46px;
}

.wT-main-menu-nav-item input {
    color: #757575 !important;
    margin-bottom: 0 !important;
}

.wT-main-menu-nav-item i {
    color: #757575 !important;
    height: 46px !important;
}

.wT-main-menu-nav-item-div {
    border-right: solid 1px #757575;
}

.wT-table-wrapper {
    margin-bottom: 30px;
    padding: 0 30px !important;
    overflow: scroll;
    max-height: calc(100vh - 280px);
}

.wT-table-wrapper .wT-table-title {
    background-color: #757575;
    color: white;
    height: 50px;
    line-height: 50px;
    font-weight: 600;
    text-transform: uppercase;
}

.wT-table-wrapper table thead tr {
    background-color: #e0e0e0;
}

.wT-table-wrapper table td,th {
    border-radius: 0px;
}

.wt-action-button .fixed-action-btn {
    left: 24px;
}

.wt-action-button .fixed-action-btn ul {
    right: auto;
    left: 8px;
}

.material-tooltip {
    border-radius: 20px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.wT-main-calender-wrapper {
    height: 100vh;
}

.wT-main-calender-wrapper iframe {
    height: calc(100% - 60px);
    width: calc(100% - 40px);
    margin: 30px 20px;
    box-shadow: 0 2px 8px 2px rgba(0,0,0,.2);
    border: none;
}

.wT-modal-add-transaction .modal-header {
    position: absolute;
    top: 0;
    padding: 20px 30px;
    box-shadow: 0 1px 10px 1px rgba(0,0,0,0.1);
    height: 70px;
    width: 100%;
    font-size: 30px;
}

.wT-modal-add-transaction.modal.modal-fixed-footer .modal-content {
    top: 70px;
    height: calc(100% - 140px);
}

.wT-modal-add-transaction .wT-modal-section-wapper {
    padding: 0 15px;
}

.wT-modal-add-transaction .wT-modal-sction-title {
    font-size: 16px;
}

.wT-modal-add-transaction .wT-modal-section-separator {
    width: 100%;
    height: 1.5px;
    background-color: #00796b;
}

.wT-modal-add-transaction .wT-text-add-favoured {
    line-height: 32px;
}
.wT-modal-add-transaction .wT-btn-add-fouvored {
    background-color: #00796b;
}

.wT-modal-add-transaction.modal .modal-footer {
    height: 70px;
    box-shadow: 0 -1px 10px 1px rgba(0,0,0,0.1);
}

.wT-modal-add-transaction.modal.modal-fixed-footer .modal-footer a {
    margin: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    background-color: #00796b;
}

.modal.datepicker-modal.open {
    top: 20% !important;
}

.wT-modal-add-transaction .wT-modal-input {
    padding: 0 20px;
}