.wT-f-baloo-thambi {
    font-family: 'Baloo Thambi', cursive;
}

.wT-f-roboto {
    font-family: 'Roboto', sans-serif;
}

.wT-f18 {
    font-size: 18px;
}

.wT-f25 {
    font-size: 25px;
}

.wT-f30 {
    font-size: 30px;
}

.wT-f32 {
    font-size: 32px;
}

.wT-wrapper {
    margin: 0;
}

.wT-container {
    height: 100vh;
}

.wT-logo-small {
    height: 80px;
    width: 80px;
}

.wT-logo-medium {
    height: 110px;
    width: 110px;
}

.wT-logo-large {
    height: 150px;
    width: 150px;
}

.wT-footer {
    position: absolute;
    bottom: 15px;
    left: 100vw;
    margin-left: -11px !important;
    color: #757575;
    font-size: 12px;
    font-weight: 600;
}

.wT-v-divider {
    height: 100%;
    width: 1px;
    background-color: #cccccc;
    float: left;
    margin-left: auto;
    left: auto;
    right: auto;
}

/* Authentication Area: Login and Signup */
.wT-authentication-side-banner {
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(45deg, rgba(0, 128, 128, 0.1), rgba(0, 128, 128, 0.4), rgba(0, 128, 128, 0.5), rgba(0, 128, 128, 0.6));
}
